
    @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");  

*{  
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.estilodiv {
  border: 1px solid rgba(0, 0, 0, 0.75);
  margin: 10px;
  box-shadow: 10px 11px 10px -10px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 12px;
}
